@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
body {
    background-color: rgb(223, 223, 223);
}

.display {
    background-color: white;
    border: 5px solid rgb(71, 71, 71);
    width: 80vmin;
    height: 80vmin;
    margin: auto;
    display: block;
}

.score {
    text-align: center;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    color: rgb(71, 71, 71);
}